* {
  box-sizing: border-box;
}

@media(max-width:600px ){
  .thank h2{
    font-size: 20px;
  }

  .copy{
    font-size:17px;
  }
}


body {
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

header{
  width:100%;
  background-color: black;
  text-align: center;
}

header img{
  max-width:900px;
  width:100%;
}

.wrapper{
  width:100%;
  text-align: center;
}

.red p{
  color:red;
  font-weight: bold;
}

.thank h2{
  text-align: center;

  font-weight: bold;
}

.title img{
  margin:50px 0 50px 0;
  width:350px;
}

.title img:hover{
  opacity: 0.8;
}

.copy p{
  border-bottom: 1px solid black;
  font-size:20px;
}

.content-title{
  margin-bottom: 30px;
}

.content-title p{
  color:white;
  background-color: #00005d;
  padding:23px 0 23px 0;
}

.content-ken{
  font-weight: bold;
}

.content-hon{
  margin-top:30px;
  font-weight: bold;
}

.line-img{
  margin-top:30px;
}

.line-img img:hover{
  opacity: 0.8;
}

.line-hon{
  font-weight: bold;
}

.arenji p{
  font-size:13px;
  font-weight: normal;
}

.arenji{
  margin-bottom: 70px;
}

footer{
  background: black;
  color:white;
  width:100%;
  height:60px;
}

footer p{
 text-align: center;
 font-size:13px;
 line-height:60px;
}
